version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
      day: "wednesday"
      time: "21:00"
      timezone: "Europe/Helsinki"
  - package-ecosystem: "npm"
    directories:
      - "/app"
    versioning-strategy: "increase"
    schedule:
      interval: "weekly"
      day: "wednesday"
      time: "21:00"
      timezone: "Europe/Helsinki"
    cooldown:
      default-days: 1
    ignore:
      - dependency-name: "playwright"
      - dependency-name: "@playwright/test"
    groups:
      react:
        patterns:
          - "react"
          - "react-dom"
          - "@types/react"
          - "@types/react-dom"
      vite:
        patterns:
          - "vite"
          - "@vitejs/plugin-react"
          - "vite-plugin-checker"
      eslint:
        patterns:
          - "eslint"
          - "@eslint/js"
          - "eslint-plugin-*"
      fontawesome:
        patterns:
          - "@fortawesome/*"
      jsdom:
        patterns:
          - "jsdom"
          - "@types/jsdom"
      ts-eslint:
        patterns:
          - "@typescript-eslint/*"
  - package-ecosystem: "docker"
    directories:
      - "/app"
      - "/lambda"
      - "/util"
    ignore:
      - dependency-name: "*playwright"
      - dependency-name: "node"
        update-types:
          - "version-update:semver-major"
      - dependency-name: "python"
        update-types:
          - "version-update:semver-minor"
    schedule:
      interval: "monthly"
      day: "wednesday"
      time: "21:00"
      timezone: "Europe/Helsinki"
  - package-ecosystem: "docker-compose"
    directory: "/"
    schedule:
      interval: "monthly"
      day: "wednesday"
      time: "21:00"
      timezone: "Europe/Helsinki"
  - package-ecosystem: "pip"
    directories:
      - "/data"
      - "/lambda"
      - "/cloudformation"
    schedule:
      interval: "weekly"
      day: "wednesday"
      time: "21:00"
      timezone: "Europe/Helsinki"
    cooldown:
      default-days: 1
      exclude:
        - "poetry"
        - "cfn-lint"
