.toplistContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.toplistTitle {
  font-family: "Arial", sans-serif;
  font-size: 1.3em;
  font-weight: bold;
  color: grey;
  margin-bottom: 0;
}

.toplistList {
  list-style-type: none;
  margin-left: 15px;
  padding: 0;
  height: 90%;
  overflow-y: auto;
}

.toplistItem {
  color: black;
  margin-bottom: 8px;
}
