.title {
  margin-bottom: 5px;
}

.data-date {
  display: block;
  font-size: 0.8em;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 10px;
}

.controls-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.chart-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 850px;
  grid-template-areas:
    "a b"
    "c d"
    "e f";
}

@media (max-width: 800px) {
  .chart-grid {
    grid-template-columns: 1fr;
    grid-template-areas:
      "a"
      "b"
      "c"
      "d"
      "e"
      "f";
  }
}
