name: cloudformation
on:
  push:
    branches:
      - main
    paths:
      - "cloudformation/**"
      - "util/requirements.txt"
      - ".github/workflows/cloudformation.yml"
  pull_request:
    branches:
      - main
    paths:
      - "cloudformation/**"
      - "util/requirements.txt"
      - ".github/workflows/cloudformation.yml"
  schedule:
    - cron: "0 21 1 * 0"
  workflow_dispatch:
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  cloudformation:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: "3.13"
          architecture: "x64"
      - name: Install dependencies
        run: pip install -r requirements.txt
        working-directory: ./util
      - name: Cloudformation linting
        run: cfn-lint ./**/*.yml
        working-directory: ./cloudformation
