name: cypress
on:
  pull_request:
    branches:
      - main
    paths:
      - "app/src/**"
      - "app/tests/cypress/**"
      - "app/vite.config.ts"
      - "app/cypress.config.ts"
      - "app/tsconfig.json"
      - "app/package.json"
      - "app/pnpm-lock.yaml"
      - "data/data.json"
      - ".github/workflows/cypress.yml"
  workflow_dispatch:
env:
  NO_UPDATE_NOTIFIER: true
jobs:
  cypress:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        with:
          run_install: false
          package_json_file: ./app/package.json
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: 24
          cache: "pnpm"
          cache-dependency-path: "app/pnpm-lock.yaml"
      - name: Disable side effects cache
        run: pnpm config set side-effects-cache false --location project
      - name: Install dependencies
        run: pnpm install --frozen-lockfile
        working-directory: ./app
      - name: Build
        run: pnpm run build
        working-directory: ./app
      - name: Install cypress binary
        run: pnpm exec cypress install
        working-directory: ./app
      - name: Run tests
        run: pnpm run cypress
        working-directory: ./app
        env:
          CI: true
