name: datatest
on:
  pull_request:
    branches:
      - main
    paths:
      - "data/src/**"
      - "data/lambdas/**"
      - "data/tests/**"
      - "data/pyproject.toml"
      - "data/poetry.lock"
      - "data/requirements.txt"
      - ".github/workflows/datatest.yml"
  workflow_dispatch:
jobs:
  extract-poetry-version:
    permissions:
      contents: read
    uses: ./.github/workflows/poetry-version.yml
  test:
    runs-on: ubuntu-latest
    needs: extract-poetry-version
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Install Poetry
        run: |
          curl --proto "=https" -sSL https://install.python-poetry.org | python3 - \
          --version ${{ needs.extract-poetry-version.outputs.poetry-version }}
      - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: "3.14"
          architecture: "x64"
          cache: "poetry"
          cache-dependency-path: "data/poetry.lock"
      - name: Install dependencies
        run: poetry install --no-interaction --only main,dev
        working-directory: ./data
      - name: Check linting & formatting
        run: |
          poetry run ruff check .
          poetry run ruff format .
        working-directory: ./data
      - name: Run tests
        run: poetry run pytest
        working-directory: ./data
