name: datatest
on:
  pull_request:
    branches:
      - main
    paths:
      - "data/src/**"
      - "data/lambdas/**"
      - "data/tests/**"
      - "data/pyproject.toml"
      - "data/poetry.lock"
      - "data/requirements.txt"
      - ".github/workflows/datatest.yml"
  workflow_dispatch:
jobs:
  extract-poetry-version:
    permissions:
      contents: read
    uses: ./.github/workflows/poetry-version.yml
  test:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    needs: extract-poetry-version
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v6
      - name: Install Poetry
        shell: bash
        run: |
          curl --proto "=https" -sSL https://install.python-poetry.org | python3 - \
          --version ${{ needs.extract-poetry-version.outputs.poetry-version }}
          echo "$HOME/.local/bin" >> $GITHUB_PATH
          poetry --version
      - uses: actions/setup-python@v6
        with:
          python-version: "3.14"
          architecture: "x64"
          cache: "poetry"
          cache-dependency-path: "data/poetry.lock"
      - name: Install dependencies
        run: poetry install --no-interaction --all-groups
        working-directory: ./data
      - name: Check linting & formatting
        run: |
          poetry run ruff check .
          poetry run ruff format .
        working-directory: ./data
      - name: Run tests
        run: poetry run pytest
        working-directory: ./data
