name: playwright
on:
  pull_request:
    branches:
      - main
    paths:
      - "app/src/**"
      - "app/tests/playwright/**"
      - "app/vite.config.ts"
      - "app/playwright.config.ts"
      - "app/tsconfig.json"
      - "app/package.json"
      - "app/pnpm-lock.yaml"
      - "data/data.json"
      - "util/Dockerfile"
      - ".github/workflows/playwright.yml"
  workflow_dispatch:
env:
  NO_UPDATE_NOTIFIER: true
jobs:
  extract-base-image:
    runs-on: ubuntu-latest
    outputs:
      base-image: ${{ steps.get-base-image.outputs.base-image }}
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Get base image
        id: get-base-image
        run: |
          IMAGE=$(sed -n 's/^FROM[[:space:]]\+\(.*\)/\1/p' ${{ vars.PLAYWRIGHT_DOCKERFILE }} | head -n 1)
          echo "base-image=$IMAGE" >> $GITHUB_OUTPUT
  playwright:
    needs: extract-base-image
    runs-on: ubuntu-latest
    container:
      image: ${{ needs.extract-base-image.outputs.base-image }}
      options: --init --user 1001 --ipc=host
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        with:
          run_install: false
          package_json_file: ./app/package.json
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: 24
          cache: "pnpm"
          cache-dependency-path: "app/pnpm-lock.yaml"
      - name: Install dependencies
        run: pnpm install --frozen-lockfile
        working-directory: ./app
      - name: Build
        run: pnpm run build
        working-directory: ./app
      - name: Run tests
        run: pnpm run playwright
        working-directory: ./app
        env:
          CI: true
          WORKERS: ${{ vars.WORKERS }}
          MAX_DIFF_PIXEL_RATIO: ${{ vars.MAX_DIFF_PIXEL_RATIO }}
