name: sonar
on:
  push:
    branches:
      - main
    paths:
      - "data/src/**"
      - "data/lambdas/**"
      - "data/tests/**"
      - "data/pyproject.toml"
      - "data/poetry.lock"
      - "data/Dockerfile"
      - "app/src/**"
      - "app/tests/**"
      - "app/package.json"
      - "app/pnpm-lock.yaml"
      - "**/Dockerfile"
      - ".github/workflows/sonar.yml"
  pull_request:
    branches:
      - main
    paths:
      - "data/src/**"
      - "data/lambdas/**"
      - "data/tests/**"
      - "data/pyproject.toml"
      - "data/poetry.lock"
      - "data/Dockerfile"
      - "app/src/**"
      - "app/tests/**"
      - "app/package.json"
      - "app/pnpm-lock.yaml"
      - "**/Dockerfile"
      - ".github/workflows/sonar.yml"
  schedule:
    - cron: "0 21 * * 0"
  workflow_dispatch:
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  sonarcloud:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: SonarCloud Scan
        uses: sonarsource/sonarqube-scan-action@v6
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
