name: sonar
on:
  push:
    branches:
      - main
    paths:
      - "data/src/**"
      - "data/handlers/**"
      - "data/tests/**"
      - "data/pyproject.toml"
      - "data/poetry.lock"
      - "data/Dockerfile"
      - "data/lambda/Dockerfile"
      - "app/src/**"
      - "app/tests/**"
      - "app/package.json"
      - "app/pnpm-lock.yaml"
      - "**/Dockerfile"
      - ".github/workflows/sonar.yml"
  pull_request:
    branches:
      - main
    paths:
      - "data/src/**"
      - "data/handlers/**"
      - "data/tests/**"
      - "data/pyproject.toml"
      - "data/poetry.lock"
      - "data/Dockerfile"
      - "data/lambda/Dockerfile"
      - "app/src/**"
      - "app/tests/**"
      - "app/package.json"
      - "app/pnpm-lock.yaml"
      - "**/Dockerfile"
      - ".github/workflows/sonar.yml"
  schedule:
    - cron: "0 21 * * 0"
  workflow_dispatch:
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  sonarcloud:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
      - name: SonarCloud Scan
        uses: sonarsource/sonarqube-scan-action@a31c9398be7ace6bbfaf30c0bd5d415f843d45e9 # v7.0.0
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
