name: test
on:
  pull_request:
    branches:
      - main
    paths:
      - "app/src/**"
      - "app/tests/components/**"
      - "app/vite.config.ts"
      - "app/vitest.config.ts"
      - "app/tsconfig.json"
      - "app/eslint.config.js"
      - "app/biome.json"
      - "app/package.json"
      - "app/pnpm-lock.yaml"
      - ".github/workflows/test.yml"
  workflow_dispatch:
env:
  NO_UPDATE_NOTIFIER: true
jobs:
  setup:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v6
      - uses: pnpm/action-setup@v4
        with:
          run_install: false
          package_json_file: ./app/package.json
      - uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: "pnpm"
          cache-dependency-path: "app/pnpm-lock.yaml"
      - name: Install dependencies
        run: pnpm install --frozen-lockfile
        working-directory: ./app
  check:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    needs: setup
    steps:
      - uses: actions/checkout@v6
      - uses: pnpm/action-setup@v4
        with:
          run_install: false
          package_json_file: ./app/package.json
      - uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: "pnpm"
          cache-dependency-path: "app/pnpm-lock.yaml"
      - name: Install dependencies
        run: pnpm install --frozen-lockfile
        working-directory: ./app
      - name: Check types, linting & formatting
        run: |
          npm run typecheck
          npm run eslint
          npm run lint
          npm run format
        working-directory: ./app
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    needs: [setup, check]
    steps:
      - uses: actions/checkout@v6
      - uses: pnpm/action-setup@v4
        with:
          run_install: false
          package_json_file: ./app/package.json
      - uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: "pnpm"
          cache-dependency-path: "app/pnpm-lock.yaml"
      - name: Install dependencies
        run: pnpm install --frozen-lockfile
        working-directory: ./app
      - name: Build
        run: npm run build
        working-directory: ./app
  tests:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    needs: setup
    steps:
      - uses: actions/checkout@v6
      - uses: pnpm/action-setup@v4
        with:
          run_install: false
          package_json_file: ./app/package.json
      - uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: "pnpm"
          cache-dependency-path: "app/pnpm-lock.yaml"
      - name: Install dependencies
        run: pnpm install --frozen-lockfile
        working-directory: ./app
      - name: Run tests
        run: pnpm run vitest
        working-directory: ./app
